@font-face {
    font-family: 'Sora';
    src: url(.\assets\fonts\Sora\Sora-VariableFont_wght.ttf) format('truetype');
}



.hidden {
    display: none;
}

.right {
    color: hsl(140, 63%, 57%);
}

.wrong {
    color: hsl(354, 63%, 57%);
}